*{
    margin: 0%;
    background-color: azure;
}
hr{
    margin: revert;
}
h1{
    text-align:center;
    font-size:40px;
    color: burlywood;
}
.form{
    padding:10px;
}
 
label{
    /* font-style: italic; */
    font-weight: bolder;
    margin-top:30px;
    font-size:18px;
}
/* Contact CSS */
.contact-form{
    padding: 2%;
}


.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
input,textarea{
    width:300px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid grey;
}
.contact-submit{
    width:300px;
    background-color:darkgrey;
    color: black;
}
footer,a{
    text-decoration:none;
    font-size:18px;
    background-color:  rgb(5, 6, 15);
    color:whitesmoke;
    padding:10px;
}

table{
    margin:10px 20px;
}